html {
  --icon-height: 130px;
  --icon-border-radius: 6px;
  --icon-border-radius-hover: 100px;
  --white: #efe2e2;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#101A27, #1B2634);
  height: 100vh;
}

/* .agents-container {
  border: 1px solid red; 
}*/

h1 {
  color: var(--white);
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 900;
  padding: 20px;
}

h2{
  color: var(--white);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 10px 0;
  text-align: center;
}

.agents-duelists-container, .agents-initiators-container, .agents-controllers-container, .agents-sentinels-container {
  align-items: center;
  border-bottom: 3px solid var(--white);
  border-end-end-radius: 120px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 10px;
  transition: 2s ease-in;
}

.agents-duelists-container:hover, .agents-initiators-container:hover, .agents-controllers-container:hover, .agents-sentinels-container:hover {
  /* background-image: linear-gradient(#0b121c, #1B2634); */
  border-bottom: 3px solid #cbffbe;
  border-end-end-radius: 1020px 80px;
  transition: 1s ease-out;
}

.agents-duelists-container:hover h1, .agents-initiators-container:hover h1, .agents-controllers-container:hover h1, .agents-sentinels-container:hover h1 {
  color: #cbffbe;
}

.agents-duelists-container:hover h2, .agents-initiators-container:hover h2, .agents-controllers-container:hover h2, .agents-sentinels-container:hover h2 {
  color: #cbffbe;
}

.agents-duelists, .agents-initiators, .agents-controllers, .agents-sentinels {
  padding: 2px;
}

.agents-duelists-img, .agents-initiators-img, .agents-controllers-img, .agents-sentinels-img {
  border-radius: var(--icon-border-radius);
  height: var(--icon-height);
  transition: 2s ease-out;
}

.agents-duelists-img:hover, .agents-initiators-img:hover, .agents-controllers-img:hover, .agents-sentinels-img:hover {
  border-radius: var(--icon-border-radius-hover);
  transition: 0.5s ease;
  background-color: #c82e0f;
  opacity: 0.8;
}